In [1]:
print("good" == "great" or 67 != 76)

True

In [2]:
print(False or True)

True

In [3]:
x = "Hello"
print(bool(x))

True

In [6]:
# This is the preffered way of checking if a string is empty
x = "Hello"
if x:
    print("The string is not empty")

The string is not empty

In [9]:
# This is the underlying way of checking if a string is empty
x = "Hello"
if bool(x):
    print("The string is not empty")

The string is not empty

In [10]:
x = "Hello"
if len(x) > 0:
    print("The string is not empty")

The string is not empty

In [11]:
if True:
    print("The condition is true")

The condition is true

In [12]:
if True == True:
    print("The condition is true")

The condition is true

In [13]:
name = "robert"
print(name == "Robert")

False

In [14]:
_T = "1234___"

In [15]:
123abc = 1234

SyntaxError: invalid decimal literal (2811900234.py, line 1)

In [ ]:
my-var = "1234"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1649375992.py, line 1)

In [18]:
my_var_ = "1234?"

In [19]:
my#var = 0.0

NameError: name 'my' is not defined

In [20]:
a = 10
b = 0
print ( a/b ) if (b > 0 ) else print ( a )

10

In [21]:
a = 10
b = 0
print ( a/b ) if (b == 0 ) else print ( a )

ZeroDivisionError: division by zero

In [23]:
if 1:
    print("always")
else:
    print("never")

always

In [24]:
a = 1,
print(type(a))

<class 'tuple'>

In [25]:
a = 1,2,3,4,5
print(type(a))

<class 'tuple'>

In [26]:
a = (1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [27]:
a = 1
print(type(a))

<class 'int'>

In [28]:
a = ()
print(type(a))

<class 'tuple'>

In [29]:
a = (1)
print(type(a))

<class 'int'>

In [30]:
a = ((1+1) * 2)
print(type(a))

<class 'int'>

In [31]:
a = (((1+1) * 2))
print(type(a))

<class 'int'>

In [32]:
a = (1,)
print(type(a))

<class 'tuple'>

In [33]:
a = 1,
print(type(a))

<class 'tuple'>

In [34]:
a = []
print(type(a))

<class 'list'>

In [35]:
a = [1]
print(type(a))

<class 'list'>

In [36]:
a = [1,]
print(type(a))

<class 'list'>

In [38]:
a = ["log", "logut" "hello"]
print(type(a))

<class 'list'>

In [39]:
if False:
    print("Real")
elif True:
    print("Milan")
elif True:
    print("Liverpool")
else:
    print("Bayern")

Milan

In [40]:
if False:
    print("Real")
if True:
    print("Milan")
if True:
    print("Liverpool")
else:
    print("Bayern")

Milan
Liverpool

In [41]:
fruits = ["fox", "bear", "rabbit"]
print(fruits[-1])

rabbit

In [42]:
x = range(4)
for n in x: 
    print(n)

0
1
2
3

In [43]:
x = range(0, 4)
for n in x: 
    print(n)

0
1
2
3

In [44]:
aTuple = (200, 300, 400, 500, 600)
print(aTuple[-4:-1])

(300, 400, 500)

In [45]:
aTuple = (200, 300, 400, 500, 600)
print(aTuple[-4:])

(300, 400, 500, 600)