In [2]:
x = 10 + 3 * 2 - 4 / 2
x, type(x)

(14.0, float)

In [3]:
4/2

2.0

In [4]:
2 + 2.0

4.0

# Concatenation

In [5]:
print("123" + "abc")

123abc

In [6]:
print(123 + "abc")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
x = int(62.8)
x

62

In [8]:
round(0.123456789, 4)

0.1235

In [9]:
round(0.123456789, 3)

0.123

In [11]:
import math

math.ceil(0.123456789)

1

In [12]:
math.floor(0.123456789)

0

In [13]:
int(0.9)

0

In [14]:
74 % 10

4

In [16]:
# hello = "kjdk"
print ("hello")

hello

In [18]:
print("I'm taking the python exam")

I'm taking the python exam

# Character escaping

In [19]:
x = 'I\'m taking the python exam'
print(x)

I'm taking the python exam

In [21]:
print('I\'\n')
print("hello")

I'

hello

In [23]:
f1st_var = 'hello'
print(f1st_var)

hello

In [25]:
passo = 'hello'
print(passo)

hello

In [26]:
greeting = 'hello'
print(Greeting)
Greeting = 'How are you'

NameError: name 'Greeting' is not defined

In [27]:
greeting = 'hello'
Greeting = 'How are you'
print(Greeting)

How are you

In [28]:
greeting = 'hello'
print(greeting)
Greeting = 'How are you'

hello

In [30]:
true = "January"
has_greeted = true
print(has_greeted)

January

In [31]:
print (9//2)

4

In [32]:
print (9*"2")

222222222

In [33]:
print ("2"*9.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [34]:
print (2.3*9.0)

20.7

In [35]:
print ("2"*int(9.1))

222222222

In [36]:
print ("2"*"9")

TypeError: can't multiply sequence by non-int of type 'str'

In [37]:
print (9+"2")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
print (9, "2")

9 2

In [39]:
print(1, 2, 3, 4, 5, 6, 7, 8, "32131", True, "hello")

1 2 3 4 5 6 7 8 32131 True hello

In [40]:
print(1, 2, 3, 4, 5, 6, 7, 8, "32131", True, "hello", sep="^^^")

1^^^2^^^3^^^4^^^5^^^6^^^7^^^8^^^32131^^^True^^^hello

In [41]:
print (9**2)

81

In [42]:
print (2*1**2)

2

In [43]:
print ((2*1)**2)

4

In [44]:
print ('a'+'b'*2+4*'a' )

abbaaaa

In [45]:
print(not (True and False) or (not True and False))

True

In [46]:
print(not (False ) or (False))

True

In [47]:
print(True or (False))

True

In [48]:
A = True
B = False 
print(not (A or B) == (not A and not B))

True

In [49]:
False == False

True

In [50]:
a = 3
b = 1

a = (a + b)
a

4

In [51]:
a = 3
b = 1

a += b
a

4

In [52]:
a = 3
b = 1

a %= b
a

0

In [53]:
a = 3
b = 1
a % b

0

In [54]:
a = 3
b = 1

a = (a ! b)
a

SyntaxError: invalid syntax (4043648633.py, line 4)